.profile {
  background-color: #fff;
  text-align: center;
  width: 194px;
  padding-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.description {
  width: 100%;
}

.avatar {
  width: 100px;
  border-radius: 50%;
}

.name {
  font-size: 24px;
  font-weight: 500;
}

.tag,
.location {
  color: #616161;
  font-weight: 500;
}

.stats {
  margin: 0;

  justify-content: center;
  list-style-type: none;
  display: flex;
  padding: 0;
}

.stats_item {
  background-color: #6161613f;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-top: 1px black solid;
}
.stats_item:not(:last-child) {
  border-right: 1px black solid;
}

.label {
  color: #616161;
  font-size: 14px;
}

.quantity {
  font-weight: 700;
}
